alembic==1.12.1
blinker==1.7.0
click==8.1.7
dnspython==2.4.2
email-validator==2.1.0.post1
Flask==3.0.0
Flask-DebugToolbar @ git+https://github.com/pallets-eco/flask-debugtoolbar.git@d0360218fd5f3dfe624299ba923d2cbed88e31be
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-Principal==0.4.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
load-dotenv==0.1.0
Mako==1.3.0
MarkupSafe==2.1.3
packaging==23.2
python-dotenv==1.0.0
SQLAlchemy==2.0.23
sqlalchemyseed==2.0.0
typing_extensions==4.8.0
Werkzeug==3.0.1
WTForms==3.1.1
zipp==3.17.0
