{% extends 'layouts/_base.html' %}
{% from "partials/_formhelpers.html" import render_errors %}

{% block title %}
Producte {{ product.id }}
{% endblock %}

{% block content %}

<p>Confirmes que vols eliminar el producte "{{ product.title }}"?</p>
<p><img src="/static/products/{{ product.photo }}" alt="{{ product.title }}" /></p>

<form action="/products/delete/{{ product.id }}" method="POST">
    {{ form.csrf_token }}
    <a class="btn btn-outline-dark btn-xl" href="/products/list">&#x3c;&#x3c; Tornar al llistat</a>
    {{ form.submit(value="ESBORRAR",class_="btn btn-danger btn-xl") }}
</form>
{% endblock %}