{% extends 'layout.html' %}

{% block header %}
  <h1 class="text-center text-4xl font-bold mt-8 mb-4">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="mx-auto p-8" style="max-width:1400px;">
    <form method="post" class="max-w mx-auto bg-white p-8 border border-gray-300 rounded-md shadow-md">
        {{ form.hidden_tag() }}
        <div class="mb-4">
          {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2") }}
          {{ form.username(class="form-input w-full px-4 py-2 border border-gray-300 leading-tight rounded-md focus:outline-none focus:shadow-outline-blue") }}
        </div>
        <div class="mb-4">
          {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
          {{ form.password(class="form-input w-full px-4 py-2 border border-gray-300 leading-tight rounded-md focus:outline-none focus:shadow-outline-blue") }}
        </div>
        {{ form.submit(class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue") }}
      </form>    
      <div class="mt-4 text-center text-gray-700 text-sm">
        ¿No tienes una cuenta? <a href="{{ url_for('main_bp.register') }}" class="text-blue-500">Regístrate aquí</a>.
    </div>    
</div>
{% endblock %}
