{% extends 'layouts/_base.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped" style="background-color: #fefefe;">
	<thead>
		<tr>
			<th>ID</th>
			<th>NOM</th>
			<th>SLUG</th>
			<th colspan="3">Accions</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td><a href="/categories/read/{{ category.id }}" alt="Visualitzar">{{ category.id }}</a></td>
			<td>{{ category.name }}</td>
			<td>{{ category.slug }}</td>
			<td>
				<a href="/categories/read/{{ category.id }}" alt="Visualitzar">👁️</a>
			</td>
			<td>
				<a href="/categories/update/{{ category.id }}" alt="Editar">📝</a>
			</td>
			<td>
				<a href="/categories/delete/{{ category.id }}" alt="Eliminar">❌</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-secondary btn-xl" href="/categories/create">Crear un nova categoria</a>
{% endblock %}
